.env
.venv/
/docker-compose.yml
/backups/
/config/
/data/
/logs/
/ownership/
/secrets/
/temporary/
/tls/
/wireguard/
**/__pycache__/
*.py[cod]
*.cer
*.crt
*.csr
*.key
*.p12
*.pem
*.pfx
*.srl
*.bak
*.tmp
*.log
