OSTV_SQL_SERVER=<SQL_CERTIFICATE_DNS_NAME>
OSTV_SQL_PORT=<ALLOWLISTED_PUBLIC_SQL_PORT>
OSTV_SQL_DATABASE=<DATABASE_NAME>
OSTV_SQL_USERNAME=<CLIENT_LOGIN>
OSTV_SQL_ENCRYPT=yes
OSTV_SQL_TRUST_SERVER_CERTIFICATE=no
