# Copy to the private state root as .env, replace every angle-bracket value,
# chmod 0600, and never commit the resulting file.
OSTV_STATE_ROOT=/home/SQLServer
OSTV_SQL_IMAGE=<PINNED_OFFICIAL_MCR_IMAGE_WITH_DIGEST>
OSTV_CONTAINER_NAME=<UNIQUE_CONTAINER_NAME>
OSTV_DEPLOYMENT_ID=<GENERATED_UUID>
OSTV_SQL_EDITION=<LICENSED_EDITION>
OSTV_SA_PASSWORD=<GENERATED_BY_SETUP>
OSTV_SQL_DATABASE=<DATABASE_NAME>
OSTV_SQL_ADMIN_LOGIN=<ADMIN_LOGIN>
OSTV_SQL_CLIENT_LOGIN=<CLIENT_LOGIN>
OSTV_SQL_HOST_PORT=<LOCAL_SQL_PORT>
OSTV_SQL_VPN_PORT=<TEMPORARY_VPN_PORT>
OSTV_SQL_PUBLIC_BIND_ADDRESS=<SERVER_PUBLIC_IPV4_ADDRESS>
OSTV_SQL_PUBLIC_PORT=<PUBLIC_SQL_PORT_USUALLY_1433>
OSTV_SQL_ALLOWED_SOURCE_CIDR=<COMMA_SEPARATED_STATIC_CLIENT_PUBLIC_IPV4_ADDRESSES/32>
OSTV_SQL_CERTIFICATE_NAME=<PUBLIC_DNS_NAME_WITH_CERTBOT_CERTIFICATE>
OSTV_WG_INTERFACE=<WIREGUARD_INTERFACE>
OSTV_WG_SERVER_ADDRESS=<WIREGUARD_SERVER_ADDRESS>
OSTV_WG_PREFIX_LENGTH=<WIREGUARD_PREFIX_LENGTH>
OSTV_WG_LISTEN_PORT=<WIREGUARD_UDP_PORT>
OSTV_PUBLIC_INTERFACE=<PUBLIC_NETWORK_INTERFACE>
OSTV_PUBLIC_ENDPOINT=<PUBLIC_WIREGUARD_HOST_OR_IP>
OSTV_DOCKER_NETWORK=<UNIQUE_DOCKER_NETWORK_NAME>
OSTV_DOCKER_SUBNET=<DEDICATED_DOCKER_SUBNET>
OSTV_SQL_CONTAINER_ADDRESS=<SQL_CONTAINER_ADDRESS_IN_DOCKER_SUBNET>
